progress[value]::-webkit-progress-value {
    background-color: rgb(0, 30, 255) !important;
    height: 30px;
}
progress::-webkit-progress-bar {
    background-color: #dcdcdc;
    border-radius: 7px;
  }

.phase-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 40px;
}

.info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.progressbar{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 10% ;
}
progress{
    height: 15px;
    background: blue;
    width: 59%;
    position:absolute;
    z-index: -1;
    border-radius: 59%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}
.progress-step {
    width: 100px;
    height: 100px;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-step-active {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    display: flex;
    width: 80%;
    justify-content: space-between;
    text-align: center;
    padding: 0 10%;
}

